@page
@model TodoListClient.Views.Account.AccessDeniedModel
@{
}

<div class="text-center">
        <h1 style="color:red">Access Denied</h1>
    <p style="color:red">You do not have the right role to perform the action.</p>
</div>
